@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 288 9% 91%;
    --foreground: 300 8% 9%;
    --card: 288 9% 91%;
    --card-foreground: 300 8% 9%;
    --popover: 288 9% 91%;
    --popover-foreground: 300 8% 9%;
    --primary: 355 63% 47%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 355 63% 47%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 355 63% 47%;
    --radius: 0.75rem;
  }
}
